
$very-dark-grey: #262626;
$dark-grey: #444444;

$light-grey: #9B9B9B;
$mid-light-grey: #d1d1d1;
$extra-light-grey: rgb(230, 230, 230);
$white: #ffffff;

$primary: #F2355B; //red
$primary-light: #f791a7; //red
$primary-extra-light: #FED0D9; //red
$primary-dark: #b00c30;

$link-blue: hsl(208, 87%, 57%);
$link-blue-light: hsl(208, 87%, 77%);

$movel-color-light: rgba(#c9d3dd, 0.3);
$movel-color: #c9d3dd;
$movel-color-bright: #2090EB;

$inrem-1-color-light: rgba(#C8DCD7, 0.3);
$inrem-1-color: #C8DCD7;
$inrem-1-color-bright: #13D8C9;
$inrem-1-color-bright-2: #05cabb;
$inrem-1-color-dark: #1D8B93;

$quest-color-light: rgba(#DCC8D4, 0.3);
$quest-color: #DCC8D4;
$quest-color-bright: #E22E9B;

$dhm-color-light: rgba(#DCCDC8, 0.3);
$dhm-color: #DCCDC8;
$dhm-color-bright: #f54d15;

$reboot-color-light: rgba(#E6CDCD, 0.3);
$reboot-color: #E6CDCD;
$reboot-color-bright: #E83F5B;
$reboot-color-dark: #931D31;

$yellow-bright: #F8EE13;
$green-bright: #C4F813;
